:root {
  --color-primary: #F09885;
  --color-primary-bg: rgb(209, 177, 169,.1)
}

/* CSS */
/* @import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css); */

.nexmoe #nexmoe-header .nexmoe-list .nexmoe-list-item.true{
    --color-primary: #F0908C !important;
}


/* , Consolas, Monaco, monospace !important */
code, kbd, samp { font-family: 'Fira Code' !important; }

body{
  background: #F9F9F9;
}

article ul li{
  line-height: 2em !important;
}


.post-nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}


.post-nav .new,.old{
  display: flex;
  align-items: center;
}

.post-nav .next-page{
  background-image: url(./images/top_content_carousel_rtl_right.svg);

}

.post-nav .prev-page{
  background-image: url(./images/top_content_carousel_rtl_left.svg);
}

.post-nav .page-icon{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: left top;
  background-position: center center;
  background-color: transparent;
  background-size: 35% auto;
  cursor: pointer;
}


.nexmoe-bg{
  opacity: unset !important;
  filter: unset !important;
  

  background-image: url(./images/top_bg_tile01.png) !important;
  background-size: 1367px 1349px !important;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
}

.nexmoe-post .nexmoe-post-cover h1{
  font-weight: 600;
}

.nexmoe-archives .categories a {
  font-size: 12px;
  /* height: auto; */
  height: 94px;
  width: calc(26.333333333% - 8px);
}


article h2:after{
  color: #fe6931;
}

.nexmoe-post-footer{
  background: #F9F9F9;
}



.gsc-main {
  width: 99% !important;
}


#nexmoe-search-space{
  background: rgba(10,10,10,0.24);
}

/* 代码高亮 */
.hljs {
  color: #e4dfd7;
  background: #2b312c;
}

.hljs-subst {
  color: #57c3c2;
}

.hljs-comment {
  color: #617172;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,
.hljs-doctag,
.hljs-section {
  color: #d276a3;
}

.hljs-attr {
  color: #96C24E;
}

.hljs-attribute {
  color: #fb9968;
}

.hljs-name,
.hljs-type,
.hljs-number,
.hljs-selector-id,
.hljs-quote,
.hljs-template-tag {
  color: #c8adc4;
}

.hljs-selector-class {
  color: #F07C82;
}

.hljs-string,
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr {
  color: #f9d367;
}

.hljs-meta,
.hljs-selector-pseudo {
  color: #EE3F4D;
}

.hljs-built_in,
.hljs-title,
.hljs-literal {
  color: #FB9968;
}

.hljs-bullet,
.hljs-code {
  color: #EEA6B7;
}

.hljs-meta .hljs-string {
  color: #134857;
}

.hljs-deletion {
  color: #D276A3;
}

.hljs-addition {
  color: #2e317c;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-formula,
.hljs-operator,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
}

/* hbe 文章加密样式 */ 
.hbe-input-field {
  color: #ed986f !important;
}

.hbe-button{
  background: rgb(215, 175, 168) !important;
  text-align: center !important;
  border-bottom: 0 !important;
  font-size: 0 !important;
}

.hbe-button:before{
  content: '藏起来T‸T';
  font-size: 15px !important;
}

.hbe-button:after{
  display: none !important;
}

.hbe-input-field-default{
  color: #f7c5ba !important;
}

.hbe-input-label-default{
  font-size: 20px !important;
}

.hbe-input-label-default::before{
  background:unset !important;
}

.hbe-input-label-default::after{
  background:#fc7756 !important;
  background: rgb(215, 175, 168) !important;
}

.hbe-input-field-default:focus + .hbe-input-label-default::after,
.hbe-input--filled .hbe-input-label-default::after {
	opacity: unset !important;
}